$xxl: 1700px;
$xl_2: 1400px;
$xl: 1200px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$nav_for_mbl: $lg;

:root{
    --text-color: #f9f9f9;
    --primary-color: #4ea3f6;
    --primary-color-40: #D4C9FF;
    --bg-color: #0e141b;
    --bg-color-80: #1f2732;
    --bg-color-60: #181e27;
    --stroke-color: #2a313d;
    --stroke-color-1: #2a313d;
    --sidebar-bg: #1f2732;
    --header-bg: #1f2732;
    --chatbar-bg: #1f2732;

    // --text-color: #232a31;
    // --primary-color: #19658c;
    // --primary-color-40: #D4C9FF;
    // --bg-color: #ffffff;
    // --bg-color-80: #ffffff;
    // --bg-color-60: #f9f9f9;
    // --stroke-color: #ededed;
    // --stroke-color-1: #EDF4F6;
    // --sidebar-bg: #f9f9f9;
    // --header-bg: #f9f9f9;
    // --chatbar-bg: #FFFFFF;

    --red-shade: #ff1818;

    --green-shade: #1baf80;

    --shade1-100: #28fff7;

    --shade2-100: #ff4a68;

    --shade3-100: #B25DC8;

    --shade4-100: #D0D25E;

    
}